.MuiCard-root.card-main {
    max-width: 260px;
    width: 100%;
    height: 230px;
    position: relative;
    overflow: visible;
    border-radius: 25px;
}

.MuiCardMedia-root.card-media {
    height: 190px;
    position: absolute;
    top: -100px;
    left: 35px;
    width: 190px;
}
.MuiCardContent-root.card-content{
    margin-top: 90px;
}
.MuiCardActions-root.card-actions {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding-left: 28px;
}


@media only screen and (max-width: 375px) {
    .MuiCardMedia-root.card-media {
        height: 160px;
        left: 44px;
        width: 160px;
    }
    .MuiCardContent-root.card-content {
        margin-top: 60px;
    }
    .MuiCard-root.card-main {
        height: 200px;
    }
}

